* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(246, 246, 246);
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.login {
    height: 80%;
    width: 30%;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: block;
    text-align: center;
    justify-content: baseline;
    margin-bottom: 20%;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

p {
    text-align: center;
    font-size: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}

input:focus {
  border-color: rgb(13,110,253);
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for icon */
}

.password-wrapper i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
