* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 5 / span 5;
}

.div3 {
  grid-column: 1 / -1;
  /* spans all 5 columns */
  grid-row: 2 / 6;
  /* from row 2 to 5 (4 rows) */

  background-image: url(/artfolio-gaurav/images/63bcefbe-6ea7-4583-83e8-1a285cd8b847.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  /* so content inside (h1, p) is visible and centered */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* or any color that contrasts with your background */
  text-align: center;
  padding: 2rem;
  color: black;

}
.div4 {
  grid-column: span 5 / span 5;
  grid-row: span 3 / span 3;
  grid-row-start: 6;

}

.div6 {
  grid-column: span 5 / span 5;
  grid-row-start: 12;
}

nav {
  box-shadow: 1px 1px 5px black;
}

#logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-top: 0;
}

ul {
  display: flex;
  justify-content: end;
  align-items: center;

}

ul li:first-child {
  margin-right: auto;
}

ul li:last-child {
  margin-right: 2rem;
}

li {
  list-style: none;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

h2{
  margin-top: 2rem;
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin-top: 4rem;
  margin-left: 1.5rem;
  position: relative;
  animation-name: scroLLLeft;
  animation-duration: 3s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scroLLLeft {
to {
  left: -800px;
}
}